absl-py==2.1.0
aiohttp==3.9.5
aiosignal==1.3.1
antlr4-python3-runtime==4.8
async-timeout==4.0.3
attrs==23.2.0
audioread==3.0.1
Babel==2.15.0
bibtexparser==2.0.0b7
cffi==1.16.0
click==8.1.7
clldutils==3.22.2
cmake==3.29.2
colorama==0.4.6
colorlog==6.8.2
contourpy==1.2.1
csvw==3.3.0
cycler==0.12.1
Cython==3.0.10
decorator==5.1.1
Distance==0.1.3
dlinfo==1.2.1
einops==0.8.0
fonttools==4.52.4
frozenlist==1.4.1
fsspec==2024.3.1
future==1.0.0
g2p-en==2.1.0
grpcio==1.63.0
huggingface-hub==0.23.0
hydra-core==1.0.7
HyperPyYAML==1.2.2
imageio==2.34.1
importlib_metadata==7.1.0
importlib_resources==6.4.0
inflect==7.2.1
isodate==0.6.1
joblib==1.4.2
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
language-tags==1.2.0
lazy_loader==0.4
librosa==0.10.2.post1
lightning-utilities==0.11.2
lit==18.1.4
llvmlite==0.42.0
lxml==5.2.1
mamba-ssm==1.2.0.post1
Markdown==3.6
matplotlib==3.9.0
mkl-fft==1.3.1
mkl-service==2.4.0
more-itertools==10.2.0
msgpack==1.0.8
multidict==6.0.5
ninja==1.11.1.1
nltk==3.8.1
numba==0.59.1
numpy==1.23.4
omegaconf==2.0.6
opencv-python==4.9.0.80
packaging==24.0
pandas==2.2.2
phonemizer==3.2.1
platformdirs==4.2.1
pooch==1.8.1
portalocker==2.8.2
protobuf==5.26.1
pycparser==2.22
pycwt==0.4.0b0
pyDeprecate==0.3.1
pylatexenc==2.10
pyloudnorm==0.1.1
pyparsing==3.1.2
pypesq==1.2.4
pystoi==0.4.1
python-dateutil==2.9.0.post0
python-speech-features==0.6
pytorch-lightning==1.5.0
pytorch-ranger==0.1.1
pytz==2024.1
PyYAML==6.0.1
rdflib==7.0.0
referencing==0.35.1
regex==2024.4.28
resampy==0.4.3
Resemblyzer==0.1.4
rfc3986==1.5.0
rpds-py==0.18.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
sacrebleu==2.4.2
safetensors==0.4.3
scikit-image==0.22.0
scikit-learn==1.4.2
scipy==1.7.3
segments==2.2.1
sentencepiece==0.2.0
sigfig==1.3.3
sortedcontainers==2.4.0
soundfile==0.12.1
soxr==0.3.7
speechbrain==1.0.0
sru==2.6.0
tabulate==0.9.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
TextGrid==1.6.1
thop==0.1.1.post2209072238
threadpoolctl==3.5.0
tifffile==2024.5.22
timm==0.9.16
tokenizers==0.19.1
torch==2.0.0
torch-complex==0.4.3
torch-optimizer==0.3.0
torchaudio==2.0.0
torchmetrics==1.3.2
torchvision==0.15.0
tqdm==4.66.4
transformers==4.40.1
triton==2.0.0
typeguard==4.3.0
typing==3.7.4.3
typing_extensions==4.12.0
tzdata==2024.1
Unidecode==1.3.8
uritemplate==4.1.1
webrtcvad==2.0.10
Werkzeug==3.0.2
yarl==1.9.4
zipp==3.18.1
